<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapp.mapper.MemberMapper">
    <select id="findByEmailAndPassword" resultType="com.example.myapp.dto.MemberDTO">
        
        select ID, EMAIL, PASSWORD
        from members
        where EMAIL = #{email} AND PASSWORD = #{password}

    </select>
</mapper>